In [1]:
import pandas as pd 
import numpy as np
import json
import plotly.express as px

# Import Stocks

In [2]:
stocks = pd.read_csv("data/stocks.csv")

In [3]:
stocks.head()

         Date    ID    Close     High      Low     Open
0  1976-01-05  ARNC   5,7790   5,7965   5,4802   5,4802
1  1976-01-05    GT  11,2790  11,2790  11,0298  11,0298
2  1976-01-06  ARNC   5,9369   5,9545   5,7965   5,7965
3  1976-01-06    GT  11,4660  11,4660  11,3413  11,3413
4  1976-01-07  ARNC   6,0072   6,0774   5,9019   5,9369

In [4]:
# Datetime parsing
stocks.loc[:, "date"] = pd.to_datetime(stocks.Date, format="%Y-%m-%d")
stocks.drop(columns="Date", inplace=True)
stocks.rename(columns={"date":"Date"}, inplace=True)

In [5]:
# Type conversion
stocks = stocks.astype({"ID":"string"})
stocks.loc[:,["Close", "High", "Low", "Open"]] = stocks.loc[:,["Close", "High", "Low", "Open"]].applymap(lambda x: str(x).replace(",", ".")).replace("nan", np.nan)
stocks.dropna(inplace=True)
stocks.loc[:,["Close", "High", "Low", "Open"]] = stocks[["Close", "High", "Low", "Open"]].apply(pd.to_numeric)
stocks = stocks.astype(dict(zip(["Close", "High", "Low", "Open"], [float]*4)))

In [6]:
stock_tickers = set(stocks.ID.unique())

In [7]:
len(stock_tickers)

1956

In [8]:
stocks.head()

     ID    Close     High      Low     Open       Date
0  ARNC   5.7790   5.7965   5.4802   5.4802 1976-01-05
1    GT  11.2790  11.2790  11.0298  11.0298 1976-01-05
2  ARNC   5.9369   5.9545   5.7965   5.7965 1976-01-06
3    GT  11.4660  11.4660  11.3413  11.3413 1976-01-06
4  ARNC   6.0072   6.0774   5.9019   5.9369 1976-01-07

# Import Stories

In [9]:
stories = pd.read_csv("data/stories.csv")

In [10]:
stories.loc[:, "Date"] = pd.to_datetime(stories.time)
stories.loc[:, "NewsTimestamp"] = stories.Date

In [11]:
stories_tickers = set(stories.stocks.unique())

In [12]:
stories.head()

,Unnamed: 0,time,stocks,author,title,channels,body,html_body,Date,NewsTimestamp
0,32904261,2023-06-16 22:50:00-04:00,FGEN,Globe Newswire,FIBROGEN INVESTIGATION CONTINUED BY FORMER LOU...,"[""News"", ""Legal"", ""Press Releases""]","Former Attorney General of\nLouisiana, Charles...","<link type=""text/css"" rel=""stylesheet"" href=""h...",2023-06-16 22:50:00-04:00,2023-06-16 22:50:00-04:00
1,32904263,2023-06-16 22:50:00-04:00,FATE,Globe Newswire,FATE THERAPEUTICS INVESTIGATION INITIATED BY F...,"[""News"", ""Legal"", ""Press Releases""]","Former Attorney General of\nLouisiana, Charles...","<link type=""text/css"" rel=""stylesheet"" href=""h...",2023-06-16 22:50:00-04:00,2023-06-16 22:50:00-04:00
2,32904264,2023-06-16 22:50:00-04:00,EYE,Globe Newswire,NATIONAL VISION INVESTIGATION INITIATED BY FOR...,"[""News"", ""Legal"", ""Press Releases""]","Former Attorney General of\nLouisiana, Charles...","<link type=""text/css"" rel=""stylesheet"" href=""h...",2023-06-16 22:50:00-04:00,2023-06-16 22:50:00-04:00
3,32903996,2023-06-16 20:56:00-04:00,MTEM,Globe Newswire,Molecular Templates Announces Debt Payoff and ...,"[""News"", ""Press Releases""]",* **_Restructuring agreement with K2 HealthVen...,"<link type=""text/css"" rel=""stylesheet"" href=""h...",2023-06-16 20:56:00-04:00,2023-06-16 20:56:00-04:00
4,32903760,2023-06-16 19:45:43-04:00,DZSI,Globe Newswire,DZS Inc.: Please contact the Portnoy Law Firm ...,"[""News"", ""Legal"", ""Press Releases""]",The Portnoy Law\nFirm can provide a compliment...,"<link type=""text/css"" rel=""stylesheet"" href=""h...",2023-06-16 19:45:43-04:00,2023-06-16 19:45:43-04:00

In [13]:
## List of possible channels
channels = set()
for i in stories.index:
    s = pd.Series(json.loads(stories.iloc[i].channels)).value_counts()
    channels = channels.union(set(s.index))

In [14]:
df = pd.DataFrame(data=0, index=list(channels), columns=["count"])
for i in stories.index:
    s = pd.Series(json.loads(stories.iloc[i].channels)).value_counts()
    df.loc[s.index, "count"] += s.values

In [15]:
df = df.sort_values("count", ascending=False)
df.head(10)

                count
Press Releases   1316
News             1149
Legal             397
Earnings          128
Management        105
Dividends         103
Health Care        62
Contracts          53
General            52
Financing          41

# Make common denominator and merge

In [16]:
common_tickers = stock_tickers.intersection(stories_tickers)
common_tickers

{'AAON',
 'ABM',
 'ABOS',
 'ABSI',
 'ABUS',
 'ACAD',
 'ACCD',
 'ACRS',
 'ADC',
 'ADV',
 'ADVM',
 'AFCG',
 'AFIB',
 'AFMD',
 'AGIO',
 'AHH',
 'AIP',
 'AIR',
 'AIRS',
 'AKBA',
 'AKRO',
 'AKYA',
 'ALEC',
 'ALGS',
 'ALGT',
 'ALHC',
 'ALKS',
 'ALKT',
 'ALLK',
 'ALLO',
 'ALT',
 'ALTR',
 'ALX',
 'AMBA',
 'AMCX',
 'AMK',
 'AMNB',
 'AMPE',
 'AMPH',
 'AMRK',
 'AMRS',
 'AMSC',
 'AMTB',
 'ANAB',
 'ANF',
 'ANNX',
 'APLS',
 'APLT',
 'APPN',
 'APPS',
 'ARDX',
 'ARI',
 'ARKO',
 'AROW',
 'ARQT',
 'ARR',
 'ARVN',
 'ASO',
 'ATEX',
 'ATHA',
 'ATNI',
 'ATOS',
 'ATRI',
 'AVA',
 'AVAH',
 'AVDX',
 'AVID',
 'AVIR',
 'AVNT',
 'AVO',
 'AVTA',
 'AVTE',
 'AVTX',
 'AVXL',
 'AWH',
 'AXGN',
 'AXTI',
 'BALY',
 'BASE',
 'BBIO',
 'BCAB',
 'BCRX',
 'BDN',
 'BDTX',
 'BHE',
 'BHVN',
 'BIG',
 'BJRI',
 'BKH',
 'BL',
 'BNGO',
 'BOLT',
 'BOOM',
 'BRC',
 'BRT',
 'BSET',
 'BTAI',
 'BVS',
 'BYSI',
 'CARA',
 'CASA',
 'CATO',
 'CBAY',
 'CBNK',
 'CBRL',
 'CCBG',
 'CCS',
 'CDMO',
 'CDNA',
 'CELC',
 'CENX',
 'CERE',
 'CHRS',
 'CHS',
 'CHUY',
 'CHX',
 'CIX',
 'CLAR',
 'CLDX',
 'CLNN',
 'CLPT',
 'CMRE',
 'CMRX',
 'CNDT',
 'COCO',
 'COGT',
 'COHR',
 'COLB',
 'COLL',
 'CONN',
 'CPK',
 'CPRX',
 'CRBU',
 'CRMD',
 'CRMT',
 'CRNC',
 'CRNX',
 'CRS',
 'CRVL',
 'CSR',
 'CSTL',
 'CSTM',
 'CSTR',
 'CSWI',
 'CTKB',
 'CTMX',
 'CTS',
 'CTSO',
 'CTXR',
 'CUE',
 'CUTR',
 'CVCO',
 'CVGI',
 'CVGW',
 'CVLG',
 'CVRX',
 'CWST',
 'CWT',
 'CYTK',
 'DAWN',
 'DBI',
 'DBRG',
 'DCO',
 'DENN',
 'DICE',
 'DLTH',
 'DOMO',
 'DRH',
 'DRIO',
 'DRQ',
 'DSGN',
 'DSKE',
 'DY',
 'DYN',
 'DZSI',
 'EBIX',
 'ECPG',
 'EDIT',
 'EGAN',
 'EGBN',
 'EGIO',
 'EGLE',
 'EGP',
 'ELYM',
 'ENS',
 'ENSG',
 'EOSE',
 'ERAS',
 'ERNA',
 'ESGR',
 'ESPR',
 'ESTE',
 'ETNB',
 'EVCM',
 'EVER',
 'EWCZ',
 'EXLS',
 'EXPI',
 'EXPO',
 'EYE',
 'EYPT',
 'FA',
 'FATE',
 'FBNC',
 'FCEL',
 'FDBC',
 'FDMT',
 'FFIC',
 'FGEN',
 'FHTX',
 'FISI',
 'FIXX',
 'FLIC',
 'FLNT',
 'FNKO',
 'FOCS',
 'FORA',
 'FORM',
 'FOXF',
 'FRBK',
 'FRG',
 'FULC',
 'FUV',
 'FWRG',
 'GABC',
 'GBIO',
 'GCMG',
 'GDYN',
 'GEVO',
 'GLDD',
 'GLT',
 'GLUE',
 'GNK',
 'GNL',
 'GNLN',
 'GOEV',
 'GOOD',
 'GPI',
 'GRBK',
 'GRTS',
 'GSBC',
 'GTHX',
 'GTLS',
 'HARP',
 'HBB',
 'HBNC',
 'HFFG',
 'HLIT',
 'HLNE',
 'HMPT',
 'HNST',
 'HOFT',
 'HOFV',
 'HOOK',
 'HOUS',
 'HOV',
 'HOWL',
 'HPK',
 'HQI',
 'HQY',
 'HT',
 'HTBK',
 'HTLD',
 'HVT',
 'HWKN',
 'IBEX',
 'IBRX',
 'ICAD',
 'ICFI',
 'ICPT',
 'ICVX',
 'IDCC',
 'IGMS',
 'IGT',
 'IKNA',
 'IMPL',
 'IMRX',
 'IMVT',
 'IMXI',
 'INFN',
 'INNV',
 'INO',
 'INSP',
 'INST',
 'INTA',
 'INZY',
 'IRON',
 'IRTC',
 'ITCI',
 'ITGR',
 'IVVD',
 'JOAN',
 'JOUT',
 'JRVR',
 'JYNT',
 'KAI',
 'KALA',
 'KALU',
 'KBR',
 'KDNY',
 'KFRC',
 'KIDS',
 'KIRK',
 'KLIC',
 'KNSA',
 'KNTE',
 'KOD',
 'KODK',
 'KRO',
 'KRON',
 'KROS',
 'KRT',
 'KRUS',
 'KRYS',
 'KTOS',
 'KURA',
 'KYMR',
 'LAB',
 'LABP',
 'LAND',
 'LE',
 'LFCR',
 'LFST',
 'LNTH',
 'LOCO',
 'LOVE',
 'LPG',
 'LPRO',
 'LPSN',
 'LQDT',
 'LSEA',
 'LVO',
 'LXP',
 'LXRX',
 'LYEL',
 'LZB',
 'M',
 'MAC',
 'MARA',
 'MBUU',
 'MCB',
 'MDGL',
 'MDVL',
 'MED',
 'MEI',
 'MESA',
 'MG',
 'MGPI',
 'MGTX',
 'MLAB',
 'MMAT',
 'MMSI',
 'MNKD',
 'MNMD',
 'MOD',
 'MORF',
 'MPB',
 'MRC',
 'MRSN',
 'MSEX',
 'MTEM',
 'MTH',
 'MTX',
 'MVIS',
 'MWA',
 'MXCT',
 'MYGN',
 'NATH',
 'NATR',
 'NAVI',
 'NBTB',
 'NDLS',
 'NEO',
 'NESR',
 'NEXI',
 'NGM',
 'NIC',
 'NKLA',
 'NL',
 'NMTR',
 'NOTV',
 'NRC',
 'NRIM',
 'NTLA',
 'NUS',
 'NVEE',
 'NVRO',
 'NWBI',
 'NWE',
 'NWLI',
 'NX',
 'NYMT',
 'OCGN',
 'OCUL',
 'ODC',
 'OFLX',
 'OLMA',
 'OLP',
 'OMGA',
 'OMIC',
 'ONCR',
 'ONCT',
 'ONEW',
 'OPCH',
 'OPRT',
 'OPRX',
 'ORIC',
 'OTLK',
 'OXM',
 'PARR',
 'PASG',
 'PATK',
 'PBH',
 'PCT',
 'PCVX',
 'PCYO',
 'PDCE',
 'PDFS',
 'PECO',
 'PETQ',
 'PETS',
 'PFBC',
 'PGC',
 'PGNY',
 'PHAT',
 'PKE',
 'PLAB',
 'PLAY',
 'PLCE',
 'PLMR',
 'PLOW',
 'PLUS',
 'PLXS',
 'PLYM',
 'PMVP',
 'PNM',
 'PNTG',
 'PRAX',
 'PRCH',
 'PRLD',
 'PRTG',
 'PRTK',
 'PRVA',
 'PSN',
 'PTCT',
 'PTEN',
 'PTGX',
 'PTLO',
 'PVBC',
 'QCRH',
 'QMCO',
 'QNCX',
 'RAD',
 'RAIN',
 'RAPT',
 'RBBN',
 'RC',
 'RCEL',
 'RDNT',
 'REKR',
 'RELY',
 'RENT',
 'REPL',
 'RETA',
 'RFL',
 'RHP',
 'RICK',
 'RIOT',
 'RLAY',
 'RLMD',
 'RPD',
 'RPHM',
 'RPT',
 'RRBI',
 'RVMD',
 'RXRX',
 'RXT',
 'RYTM',
 'SAFE',
 'SANA',
 'SANM',
 'SAVA',
 'SCS',
 'SCWX',
 'SFIX',
 'SFM',
 'SFT',
 'SGHT',
 'SHYF',
 'SIBN',
 'SIG',
 'SLDB',
 'SMMF',
 'SNPO',
 'SNSE',
 'SOVO',
 'SPNS',
 'SPNT',
 'SPRY',
 'SPSC',
 'SPTN',
 'SPWH',
 'SPXC',
 'SRNEQ',
 'SSTI',
 'STC',
 'STEL',
 'STEM',
 'STEP',
 'STER',
 'STGW',
 'STIM',
 'STRO',
 'STTK',
 'STXS',
 'SUMO',
 'SUPN',
 'SWAV',
 'SWIM',
 'SWTX',
 'SYBT',
 'SYNA',
 'TALS',
 'TARS',
 'TBIO',
 'TCBI',
 'TCBX',
 'TCMD',
 'TCRT',
 'TDS',
 'TENB',
 'TERN',
 'TEX',
 'TGI',
 'TGTX',
 'TH',
 'THFF',
 'THR',
 'THRM',
 'THS',
 'TISI',
 'TITN',
 'TLIS',
 'TLS',
 'TMCI',
 'TNXP',
 'TOWN',
 'TRDA',
 'TRST',
 'TRUP',
 'TRVN',
 'TSE',
 'TSHA',
 'TTCF',
 'TTMI',
 'TUP',
 'TVTX',
 'TWOU',
 'TXRH',
 'UAVS',
 'UCBI',
 'UDMY',
 'UEC',
 'UFCS',
 'UHT',
 'UIS',
 'ULCC',
 'UNF',
 'UNFI',
 'UNIT',
 'UPBD',
 'URBN',
 'UVV',
 'VERA',
 'VERI',
 'VERU',
 'VERV',
 'VHI',
 'VIR',
 'VIRX',
 'VLGEA',
 'VLY',
 'VOR',
 'VOXX',
 'VRA',
 'VRAY',
 'VRCA',
 'VRNS',
 'VSH',
 'VTLE',
 'VTOL',
 'VTYX',
 'VUZI',
 'VVX',
 'VXRT',
 'WASH',
 'WCC',
 'WGO',
 'WKHS',
 'WLY',
 'WNC',
 'WSBC',
 'WSC',
 'WSR',
 'WT',
 'WTI',
 'WVE',
 'WW',
 'XGN',
 'XHR',
 'XMTR',
 'XPOF',
 'XXII',
 'YMAB',
 'ZNTL',
 'ZUMZ',
 'ZVRA'}

## Parse stocks

In [17]:
def add_targets(df):
    required_columns = ["Date", "Close", "High", "Low", "Open"]
    df.loc[:, "IntradayReturn"] = df["Close"]/df["Open"] - 1
    df.loc[:, "NextDayReturn"] = df.shift(-1)["Close"] / df.shift(-1)["Open"] - 1
    df.loc[:, "CloseToNextOpen"] = df.shift(-1)["Open"] / df["Close"] - 1
    return df
stocks.loc[:, ["IntradayReturn", "NextDayReturn"]] = np.nan

In [18]:
#stocks[["ID", "Date"]].dtypes
stocks.set_index(["ID", "Date"], verify_integrity=True, inplace=True)
stocks.sort_index(ascending=True, inplace=True)

In [19]:
stocks = stocks.groupby("ID", as_index=False).apply(add_targets)
stocks.index = stocks.index.droplevel(None)
stocks.head()

                 Close    High     Low    Open  IntradayReturn  NextDayReturn  \
ID  Date
AAN 1992-11-09  5.7972  5.8342  5.7231  5.7416        0.009684            0.0
    1992-11-10  1.0375  1.0375  1.0375  1.0375        0.000000            0.0
    1992-11-11  1.0375  1.0375  1.0375  1.0375        0.000000            0.0
    1992-11-12  1.0745  1.1116  1.0745  1.0745        0.000000            0.0
    1992-11-13  1.0745  1.1116  1.0745  1.0745        0.000000            0.0

                CloseToNextOpen
ID  Date
AAN 1992-11-09        -0.821034
    1992-11-10         0.000000
    1992-11-11         0.035663
    1992-11-12         0.000000
    1992-11-13         0.000000

## Parse Stories

In [20]:
stories.loc[:, "Date"] = stories.Date.dt.tz_convert(None)
stories.loc[:, "Date"] = stories.Date.dt.date

## Merging

In [21]:
stories.rename(columns=dict(stocks="ID"), inplace=True)
stories.columns

Index(['Unnamed: 0', 'time', 'ID', 'author', 'title', 'channels', 'body',
       'html_body', 'Date', 'NewsTimestamp'],
      dtype='object')

In [22]:
stocks.columns

Index(['Close', 'High', 'Low', 'Open', 'IntradayReturn', 'NextDayReturn',
       'CloseToNextOpen'],
      dtype='object')

In [23]:
dataset = stories[["Date", "NewsTimestamp", "ID", "body"]].merge(stocks[["IntradayReturn", "NextDayReturn", "CloseToNextOpen"]], on=["Date", "ID"], how="inner")

In [24]:
dataset.to_pickle("data/dataset.pkl")

# Create train-test-split

In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
import pickle

In [28]:
dataset = pd.read_pickle("data/dataset.pkl")
assert dataset.index.is_unique

In [45]:
test_size = 0.2
seed = 420
### Train-test split -> Auslagern
train_idx, test_idx = train_test_split(dataset.index, test_size=0.2, random_state=seed)
with open('data/dataset_train_test_idx.pkl', 'wb') as f:
    pickle.dump((train_idx, test_idx), f)

In [48]:
test_idx

Index([364,  82, 674, 339, 590, 311, 622, 254,  85, 553,
       ...
       707, 764,  31, 685, 515, 283, 668,  16, 211, 660],
      dtype='int64', length=163)