In [1]:
import pandas as pd
import plotly.express as px
import pathlib
import dask.dataframe as dd

In [2]:
ddf = dd.read_parquet("data/parquet_bzg_stories/story_df_raw_2021.parquet", engine="pyarrow")

In [3]:
ddf.shape[0].compute()

233784

In [4]:
ddf.columns

Index(['time', 'stocks', 'author', 'title', 'channels', 'html_body'], dtype='object')

In [5]:
ddf.channels.unique().compute()

0                             ["News", "Press Releases"]
1                                     ["Press Releases"]
2         ["Commodities", "Offerings", "Press Releases"]
3           ["Dividends", "Small Cap", "Press Releases"]
4                        ["Small Cap", "Press Releases"]
                             ...
531    ["Biotech", "Press Releases", "General", "Real...
532    ["News", "Health Care", "Financing", "Manageme...
533    ["Short Sellers", "Press Releases", "Real Esta...
534    ["News", "Short Sellers", "Commodities", "Cont...
535    ["News", "Health Care", "IPOs", "Economics", "...
Name: channels, Length: 536, dtype: string

In [11]:
ddf.dtypes

time         datetime64[ns, pytz.FixedOffset(-240)]
stocks                              string[pyarrow]
author                              string[pyarrow]
title                               string[pyarrow]
channels                            string[pyarrow]
html_body                           string[pyarrow]
dtype: object

In [13]:
ddf.time.max().compute()

In [6]:
ddf.groupby(ddf.time.dt.year).count().compute()

       time  stocks  author  title  channels   body  html_body
time
2014  51435   51435   51435  51435     51435  51435      51435
2015  62566   62566   62566  62566     62566  62566      62566
2016  61953   61953   61953  61953     61953  61953      61953
2017   2419    2419    2419   2419      2419   2419       2419
2018   6294    6294    6294   6294      6294   6294       6294
2019   8739    8739    8739   8739      8739   8739       8739
2020  10222   10222   10222  10222     10222  10222      10222
2021  10357   10357   10357  10357     10357  10357      10357
2022   9124    9124    9124   9124      9124   9124       9124

In [6]:
tagged_news = ddf.loc[ddf["time"].dt.year >= 2017, :]

In [9]:
tagged_news = tagged_news.compute()

In [11]:
## TODO: Untersuche die Güte der BZG-Channels. 
# In wie vielen Nachrichten kommt der Begriff EBIT, EBITDA oder Earnings vor und wie viele Nachrichten wurden mit dem `Earnings`-Channeltag gekennzeichnet. 
# Evtl. müssen wir das Tagging selbst machen, was evtl. sowieso eine gute Idee ist. Allerdings ist dann die Frage, wie wir sie Filtern, da wir nicht alle Nachrichten
# benutzen können (teilw. redundant und unnütz).
# Schaue nach, wie das in der Literatur gehandhabt wird!

In [ ]:
tagged_news