In [2]:
%cd /gxfs_work/cau/sunms534/trading_bot/

/gxfs_work/cau/sunms534/trading_bot

/gxfs_work/cau/sunms534/.conda/envs/my_pytorch_env/lib/python3.11/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [3]:
import pandas as pd 
import numpy as np
from src.config import config, MODEL_CONFIG
from src.utils.tickers import get_tickers

In [4]:
dat = pd.read_parquet(config.data.merged)

In [7]:
'cond_vola' in dat.columns

False

In [9]:
dat = pd.read_parquet(f"{config.data.iqfeed.daily.cleaned}")

In [13]:
dat[dat["r_intra_(t-1)"] == np.inf]

,adj_open,adj_high,adj_close,adj_volume,cum_split_ratio,std_252,dollar_volume,r_intra_(t-1),unadj_open,r,cond_vola
date,,,,,,,,,,,
2014-12-31,250.0000,250.0,250.0000,1.000000e-02,2500000.0,NaN,2.5000,inf,0.0001,NaN,NaN
2015-03-05,250.0000,250.0,250.0000,1.240000e-01,2500000.0,NaN,31.0000,inf,0.0001,NaN,NaN
2015-03-20,250.0000,250.0,250.0000,3.600000e-02,2500000.0,NaN,9.0000,inf,0.0001,NaN,NaN
2015-04-20,250.0000,250.0,250.0000,4.000000e-01,2500000.0,NaN,100.0000,inf,0.0001,NaN,NaN
2014-12-30,0.0200,0.0,0.0200,2.237500e+04,200.0,NaN,447.5000,inf,0.0001,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2014-12-30,0.0000,0.0,0.0001,1.100000e+06,1.0,5.313347,55.0000,inf,0.0000,NaN,NaN
2014-12-31,0.0000,0.0,0.0000,7.155938e+05,1.0,5.028981,0.0000,inf,0.0000,NaN,NaN
2015-02-17,0.0001,0.0,0.0001,4.926250e+05,1.0,NaN,49.2625,inf,0.0001,NaN,NaN
2015-03-16,0.0000,0.0,0.0000,5.559996e-02,6250000.0,5.554535,0.0000,inf,0.0000,NaN,NaN
2015-01-08,0.5000,0.5,0.5000,4.000000e+02,5000.0,NaN,200.0000,inf,0.0001,NaN,NaN